extends ../layout

block content


  if current.type == '基地仓库'
    p 选择查询的项目
    form(class='form-inline' action='' method='get')
      select(name='project' class='form-control')
        each p in projects
          option(value=p.id)= p.company + p.name
      button(type='submit' class='btn btn-primary') 查询

  div
    if inRecords && outRecords
      h2= project.company + project.name
      h3 入库记录
      table(class='table')
        thead
          tr
            th 名称
            th 规格
            th 数量
        tbody
          each inRecord in inRecords
            tr
              td= inRecord._id.name
              td= inRecord._id.size
              td= inRecord.sum
      h3 出库记录
      table(class='table')
        thead
          tr
            th 名称
            th 规格
            th 数量
        tbody
          each outRecord in outRecords
            tr
              td= outRecord._id.name
              td= outRecord._id.size
              td= outRecord.sum
      h3 库存
      table(class='table')
        thead
          tr
            th 名称
            th 规格
            th 数量
        tbody
          each entry in store
            tr
              td= entry.name
              td= entry.size
              td= entry.sum
