extends layout
block content
  div(class='row')
    div(class='col-md-2')
      if projects[0]
        div(class='dropdown')
          button(class='btn btn-default btn-block' data-toggle='dropdown' id='current-project')= projects[0].name
            span(class='caret')
          ul(class='dropdown-menu')
            each project in projects
              li
                a(href='#' class='current-project-a' data-id=project.id)= project.name
        ul(class='nav nav-pills nav-stacked' id='admin-tab' style='margin-top: 1em; margin-bottom: 1em;')
          li(class='active')
            a(href='#store-pane' data-toggle='pill') 当前库存
          li
            a(href='/project/' + projects[0].id + '/purchase/create' id='order-create-buy-a') 填写采购单
          //li
          //  a(href='/project/' + projects[0].id + '/order/create?type=sell' id='order-create-sell-a') 填写销售单
          li
            a(href='/project/' + projects[0].id + '/order/create' id='order-create-out-a') 填写出库单
          li
            a(href='/project/' + projects[0].id + '/order/create' id='order-create-in-a') 代填出库单
    div(class='col-md-10')
      div(class='tab-content')
        include dashboard/store-pane.pug
      div(class='panel-group', id='project-accordion')
        each project in projects
          div(class='panel panel-default')
            div(class='panel-heading')
              h3(class='panel-title')
                a(data-toggle='collapse' data-parent='#project-accordion' href='#' + project._id)= project.name
            div(id=project._id class='panel-collapse collapse out')
              div(class='panel-body')
                h3 调出单
                  a(class='btn btn-default pull-right' href='/project/' + project._id + '/order/create') 创建新的出库单
                ul(class='list-group')
                  each order in project.fromOrders
                    li(class='list-group-item')
                      span= order.toProject
                h3 调入单
                ul(class='list-group')
                  each order in project.toOrders
                    li(class='list-group-item')
                      span= order.fromProject
