extends ../layout

block content
  ol(class='breadcrumb')
    li
      a(href='/') 主页
    li
      a(href='../../')= current.name + '项目'
    li
      a(href='../') 结转列表
    li(class='active') 结转单
  a(class='btn btn-primary' style='margin-bottom: 1em;' href='edit') 编辑
  p= projects[carrydownOrder.project].name
  p= carrydownOrder.vendor
  p= carrydownOrder.originalOrder
  p= carrydownOrder.comments
  p= carrydownOrder.status
  p= carrydownOrder.date
  p= carrydownOrder.username

  table(class='table')
    thead
      tr
        th 名称
        th 规格
        th 数量
        th 小计
    tbody
      each entry in carrydownOrder.entries
        tr
          td= entry.name
          td= entry.size
          td= entry.count
          - var size = isNaN(entry.size.split(';')[entry.size.split(';').length - 1]) ? 1 : Number(entry.size.split(';')[entry.size.split(';').length - 1])
          td= size * entry.count
