extends ../layout

block content
  h2 运输单
  unless transferOrder.hasTransport
    form(class='form-horizontal' action='transport' method='post')
      div(class='form-group')
        label(class='col-sm-2 control-label') 承租日期
        div(class='col-sm-4')
          input(type='date', class='form-control', id='off-date', name='off-date', autocomplete='off')
        label(class='col-sm-2 control-label') 到货日期
        div(class='col-sm-4')
          input(type='date', class='form-control', id='arrival-date', name='arrival-date', autocomplete='off')
      div(class='form-group')
        label(class='col-sm-2 control-label') 顿/趟
        div(class='col-sm-4')
          input(type='text', class='form-control', id='weight', name='weight', autocomplete='off')
        label(class='col-sm-2 control-label') 单价
        div(class='col-sm-4')
          input(type='text', class='form-control', id='price', name='price', autocomplete='off')
      div(class='form-group')
        label(class='col-sm-2 control-label') 付款方
        div(class='col-sm-4')
          input(type='text', class='form-control', id='payer', name='payer', autocomplete='off')
        label(class='col-sm-2 control-label') 付款约定
        div(class='col-sm-4')
          input(type='text', class='form-control', id='pay-info', name='pay-info', autocomplete='off')
      div(class='form-group')
        label(class='col-sm-2 control-label') 收款人
        div(class='col-sm-4')
          input(type='text', class='form-control', id='payee', name='payee', autocomplete='off')
        label(class='col-sm-2 control-label') 银行信息
        div(class='col-sm-4')
          input(type='text', class='form-control', id='bank', name='bank', autocomplete='off')
      div(class='form-group')
        label(class='col-sm-2 control-label') 发货方单位
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-party', name='delivery-party', autocomplete='off' value=delivery.company + delivery.name)
        label(class='col-sm-2 control-label') 发货方联系人
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-contact', name='delivery-contact', autocomplete='off' value=delivery.contacts[0].name)
      div(class='form-group')
        label(class='col-sm-2 control-label') 发货方联系电话
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-phone', name='delivery-phone', autocomplete='off' value=delivery.contacts[0].phone)
        label(class='col-sm-2 control-label') 发货人地址
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-address', name='delivery-address', autocomplete='off' value=delivery.address)
      div(class='form-group')
        label(class='col-sm-2 control-label') 收货方单位
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-party', name='receiving-party', autocomplete='off' value=receiving.company + receiving.name)
        label(class='col-sm-2 control-label') 收货方联系人
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-contact', name='receiving-contact', autocomplete='off' value=receiving.contacts[0].name)
      div(class='form-group')
        label(class='col-sm-2 control-label') 收货方联系电话
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-phone', name='receiving-phone', autocomplete='off' value=receiving.contacts[0].phone)
        label(class='col-sm-2 control-label') 收货方地址
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-address', name='receiving-address', autocomplete='off' value=receiving.address)
      div(class='form-group')
        label(class='col-sm-2 control-label') 承运方单位
        div(class='col-sm-4')
          input(type='text', class='form-control', id='carrier-party', name='carrier-party', autocomplete='off')
        label(class='col-sm-2 control-label') 承运方司机
        div(class='col-sm-4')
          input(type='text', class='form-control', id='carrier-name', name='carrier-name', autocomplete='off')
      div(class='form-group')
        label(class='col-sm-2 control-label') 承运方联系号码
        div(class='col-sm-10')
          input(type='text', class='form-control', id='carrier-phone', name='carrier-phone', autocomplete='off')
      div(class='form-group')
        label(class='col-sm-2 control-label') 司机身份证号
        div(class='col-sm-10')
          input(type='text', class='form-control', id='carrier-id', name='carrier-id', autocomplete='off')
      div(class='form-group')
        label(class='col-sm-2 control-label') 车号
        div(class='col-sm-10')
          input(type='text', class='form-control', id='carrier-car', name='carrier-car', autocomplete='off' value=transferOrder.carNumber)
      div
        button(class='btn btn-primary btn-block') 提交
  else
    - var transport = transferOrder.transport
    form(class='form-horizontal' action='transport' method='post')
      div(class='form-group')
        label(class='col-sm-2 control-label') 承租日期
        div(class='col-sm-4')
          input(type='date', class='form-control', id='off-date', name='off-date', autocomplete='off' value=moment(transport['off-date']).format('YYYY-MM-DD'))
        label(class='col-sm-2 control-label') 到货日期
        div(class='col-sm-4')
          input(type='date', class='form-control', id='arrival-date', name='arrival-date', autocomplete='off' value=moment(transport['arrival-date']).format('YYYY-MM-DD'))
      div(class='form-group')
        label(class='col-sm-2 control-label') 顿/趟
        div(class='col-sm-4')
          input(type='text', class='form-control', id='weight', name='weight', autocomplete='off' value=transport.weight)
        label(class='col-sm-2 control-label') 单价
        div(class='col-sm-4')
          input(type='text', class='form-control', id='price', name='price', autocomplete='off' value=transport.price)
      div(class='form-group')
        label(class='col-sm-2 control-label') 付款方
        div(class='col-sm-4')
          input(type='text', class='form-control', id='payer', name='payer', autocomplete='off' value=transport.payer)
        label(class='col-sm-2 control-label') 付款约定
        div(class='col-sm-4')
          input(type='text', class='form-control', id='pay-info', name='pay-info', autocomplete='off' value=transport['pay-info'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 收款人
        div(class='col-sm-4')
          input(type='text', class='form-control', id='payee', name='payee', autocomplete='off' value=transport.payee)
        label(class='col-sm-2 control-label') 银行信息
        div(class='col-sm-4')
          input(type='text', class='form-control', id='bank', name='bank', autocomplete='off' value=transport.bank)
      div(class='form-group')
        label(class='col-sm-2 control-label') 发货方单位
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-party', name='delivery-party', autocomplete='off' value=transport['delivery-party'])
        label(class='col-sm-2 control-label') 发货方联系人
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-contact', name='delivery-contact', autocomplete='off' value=transport['delivery-contact'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 发货方联系电话
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-phone', name='delivery-phone', autocomplete='off' value=transport['delivery-phone'])
        label(class='col-sm-2 control-label') 发货人地址
        div(class='col-sm-4')
          input(type='text', class='form-control', id='delivery-address', name='delivery-address', autocomplete='off' value=transport['delivery-address'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 收货方单位
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-party', name='receiving-party', autocomplete='off' value=transport['receiving-party'])
        label(class='col-sm-2 control-label') 收货方联系人
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-contact', name='receiving-contact', autocomplete='off' value=transport['receiving-contact'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 收货方联系电话
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-phone', name='receiving-phone', autocomplete='off' value=transport['receiving-phone'])
        label(class='col-sm-2 control-label') 收货方地址
        div(class='col-sm-4')
          input(type='text', class='form-control', id='receiving-address', name='receiving-address', autocomplete='off' value=transport['receiving-address'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 承运方单位
        div(class='col-sm-4')
          input(type='text', class='form-control', id='carrier-party', name='carrier-party', autocomplete='off' value=transport['carrier-party'])
        label(class='col-sm-2 control-label') 承运方司机
        div(class='col-sm-4')
          input(type='text', class='form-control', id='carrier-name', name='carrier-name', autocomplete='off' value=transport['carrier-name'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 承运方联系号码
        div(class='col-sm-10')
          input(type='text', class='form-control', id='carrier-phone', name='carrier-phone', autocomplete='off' value=transport['carrier-phone'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 司机身份证号
        div(class='col-sm-10')
          input(type='text', class='form-control', id='carrier-id', name='carrier-id', autocomplete='off' value=transport['carrier-id'])
      div(class='form-group')
        label(class='col-sm-2 control-label') 车号
        div(class='col-sm-10')
          input(type='text', class='form-control', id='carrier-car', name='carrier-car', autocomplete='off' value=transport['carrier-car'])
      div
        button(class='btn btn-primary btn-block') 提交