extends ../layout

block content

  h2 运输信息填写

  form(class='form-horizontal', action='create?step=3', method='post')
    div(class='form-group')
      label(class='col-sm-2 control-label') 承租日期
      div(class='col-sm-10')
        input(type='date', class='form-control', id='off-date', name='off-date', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 到货日期
      div(class='col-sm-10')
        input(type='date', class='form-control', id='arrival-date', name='arrival-date', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 顿/趟
      div(class='col-sm-10')
        input(type='text', class='form-control', id='weight', name='weight', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 单价
      div(class='col-sm-10')
        input(type='text', class='form-control', id='price', name='price', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 付款方
      div(class='col-sm-10')
        input(type='text', class='form-control', id='payer', name='payer', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 付款约定
      div(class='col-sm-10')
        input(type='text', class='form-control', id='pay-info', name='pay-info', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 收款人
      div(class='col-sm-10')
        input(type='text', class='form-control', id='payee', name='payee', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 银行信息
      div(class='col-sm-10')
        input(type='text', class='form-control', id='bank', name='bank', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 发货方单位
      div(class='col-sm-10')
        input(type='text', class='form-control', id='delivery-party', name='delivery-party', autocomplete='off', value=company.fullName)
    div(class='form-group')
      label(class='col-sm-2 control-label') 发货方联系人
      div(class='col-sm-10')
        input(type='text', class='form-control', id='delivery-contact', name='delivery-contact', autocomplete='off', value=company.contact)
    div(class='form-group')
      label(class='col-sm-2 control-label') 发货方联系电话
      div(class='col-sm-10')
        input(type='text', class='form-control', id='delivery-phone', name='delivery-phone', autocomplete='off', value=company.phone)
    div(class='form-group')
      label(class='col-sm-2 control-label') 发货人地址
      div(class='col-sm-10')
        input(type='text', class='form-control', id='delivery-address', name='delivery-address', autocomplete='off', value=company.address)
    div(class='form-group')
      label(class='col-sm-2 control-label') 收货方单位
      div(class='col-sm-10')
        input(type='text', class='form-control', id='receiving-party', name='receiving-party', autocomplete='off', value=project.fullName)
    div(class='form-group')
      label(class='col-sm-2 control-label') 收货方联系人
      div(class='col-sm-10')
        input(type='text', class='form-control', id='receiving-contact', name='receiving-contact', autocomplete='off', value=project.contact)
    div(class='form-group')
      label(class='col-sm-2 control-label') 收货方联系电话
      div(class='col-sm-10')
        input(type='text', class='form-control', id='receiving-phone', name='receiving-phone', autocomplete='off', value=project.phone)
    div(class='form-group')
      label(class='col-sm-2 control-label') 收货方地址
      div(class='col-sm-10')
        input(type='text', class='form-control', id='receiving-address', name='receiving-address', autocomplete='off', value=project.address)
    div(class='form-group')
      label(class='col-sm-2 control-label') 承运方单位
      div(class='col-sm-10')
        input(type='text', class='form-control', id='carrier-party', name='carrier-party', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 承运方司机
      div(class='col-sm-10')
        input(type='text', class='form-control', id='carrier-name', name='carrier-name', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 承运方联系号码
      div(class='col-sm-10')
        input(type='text', class='form-control', id='carrier-phone', name='carrier-phone', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 司机身份证号
      div(class='col-sm-10')
        input(type='text', class='form-control', id='carrier-id', name='carrier-id', autocomplete='off')
    div(class='form-group')
      label(class='col-sm-2 control-label') 车号
      div(class='col-sm-10')
        input(type='text', class='form-control', id='carrier-car', name='carrier-car', autocomplete='off')
    div
      button(class='btn btn-primary btn-block') 提交
