div(class='tab-pane' id='project-pane')
  each project in projects
    div(class='panel panel-default')
      div(class='panel-heading')
        h4(class='panel-title')
          a(data-toggle='collapse' data-parent='#project-accordion' href='#' + project._id)
            span= ' ' + (project.company || '') + (project.name || '')
          a(class='pull-right'
          data-toggle='collapse'
          data-parent='#project-accordion'
          href='#' + project._id + '-modify') 修改
          a(class='pull-right project-delete-button'
          data-id=project._id
          data-project=project.name
          href='#') 删除
      div(id=project._id, class='panel-collapse collapse out')
        div(class='panel-body')
          p 显示信息页面
          p 来往记录
          p 最新消息
          p 等等信息
      div(id=project._id + '-modify', class='panel-collapse collapse out')
        div(class='panel-body')
          form(class='form-horizontal project-modify-form' data-id=project._id method='post')
            div(class='form-group')
              label(class='control-label col-sm-2') 单位名称
                span(class='important-star') (*)
              div(class='col-sm-3')
                input(class='form-control' name='company' type='text' value=project.company required)
              label(class='control-label col-sm-2') 项目名称
                span(class='important-star') (*)
              div(class='col-sm-5')
                input(class='form-control' name='name' type='text' value=project.name required)
            div(class='form-group')
              label(class='control-label col-sm-2') 单位电话
              div(class='col-sm-3')
                input(class='form-control' name='companyTel' type='text' value=project.abbr)
              label(class='control-label col-sm-2') 项目电话
              div(class='col-sm-5')
                input(class='form-control' name='tel' type='text' value=project.tel)
            div(class='form-group')
              label(class='control-label col-sm-2') 地址
              div(class='col-sm-10')
                input(class='form-control' name='address' type='text' value=project.address)
            div(class='contact-group' data-length=project.contacts.length)
              each contact in project.contacts
                div(class='form-group')
                  label(class='control-label col-sm-2') 联系人
                    span(class='important-star') (*)
                  div(class='col-sm-3')
                    input(class='form-control' name='contact.name' type='text' value=contact.name required)
                  label(class='control-label col-sm-2') 联系人电话
                    span(class='important-star') (*)
                  div(class='col-sm-5')
                    div(class='input-group')
                      input(class='form-control' name='contact.phone' type='text' value=contact.phone required)
                      span(class='input-group-btn')
                        a(class='btn btn-default contact-plus-button')
                          span(class='glyphicon glyphicon-plus')
                      span(class='input-group-btn')
                        a(class='btn btn-default contact-minus-button')
                          span(class='glyphicon glyphicon-minus')
            div(class='form-group')
              label(class='control-label col-sm-2') 仓库类型
              div(class='col-sm-2')
                select(name='type' class='form-control base-type')
                  option(value='项目部仓库' selected=project.type == '项目部仓库') 项目部仓库
                  option(value='基地仓库' selected=project.type == '基地仓库') 基地仓库
                  option(value='第三方仓库' selected=project.type == '第三方仓库') 第三方仓库
              .connect-base
                label(class='control-label col-sm-offset-1 col-sm-2') 关联基地
                div(class='col-sm-2')
                  select(name='base' class='form-control')
                    each p in projects
                      if p.type == '基地仓库'
                        option(value=p.id selected=p.id == project.base)= p.name
            div(class='form-group')
              label(class='control-label col-sm-2') 备注
              div(class='col-sm-10')
                textarea(class='form-control' name='comments' type='text' value=project.comments)
            div(class='form-group')
              div(class='col-sm-offset-10 col-sm-2')
                button(class='btn btn-default btn-primary') 保存修改
  div(class='collapse' id='project-add-form')
    form(class='form-horizontal' method='post' action='/project')
      div(class='form-group')
        label(class='control-label col-sm-2') 单位名称
          span(class='important-star') (*)
        div(class='col-sm-3')
          input(class='form-control' name='company' type='text' required)
        label(class='control-label col-sm-2') 项目名称
          span(class='important-star') (*)
        div(class='col-sm-5')
          input(class='form-control' name='name' type='text' required)
      div(class='form-group')
        label(class='control-label col-sm-2') 单位电话
        div(class='col-sm-3')
          input(class='form-control' name='companyTel' type='text')
        label(class='control-label col-sm-2') 项目电话
        div(class='col-sm-5')
          input(class='form-control' name='tel' type='text')
      div(class='form-group')
        label(class='control-label col-sm-2') 地址
        div(class='col-sm-10')
          input(class='form-control' name='address' type='text')
      div(class='contact-group' data-length=1)
        div(class='form-group')
          label(class='control-label col-sm-2') 联系人
            span(class='important-star') (*)
          div(class='col-sm-3')
            input(class='form-control' name='contact.name' type='text' required)
          label(class='control-label col-sm-2') 联系人电话
            span(class='important-star') (*)
          div(class='col-sm-5')
            div(class='input-group')
              input(class='form-control' name='contact.phone' type='text' required)
              span(class='input-group-btn')
                a(class='btn btn-default contact-plus-button')
                  span(class='glyphicon glyphicon-plus')
              span(class='input-group-btn')
                a(class='btn btn-default contact-minus-button')
                  span(class='glyphicon glyphicon-minus')
      div(class='form-group')
        label(class='control-label col-sm-2') 仓库类型
        div(class='col-sm-2')
          select(name='type' value='project.type' class='form-control base-type')
            option 项目部仓库
            option 基地仓库
            option 第三方仓库
        .connect-base
          label(class='control-label col-sm-offset-1 col-sm-2') 关联仓库
          div(class='col-sm-2')
            select(name='base' class='form-control')
              each project in projects
                if project.type == '基地仓库'
                  option(value=project.id)= project.name
      div(class='form-group')
        label(class='control-label col-sm-2') 备注
        div(class='col-sm-10')
          textarea(class='form-control' name='comments')
      div(class='form-group')
        div(class='col-sm-offset-10 col-sm-2')
          button(class='btn btn-primary pull-right') 确认增加
  div(style='margin-bottom: 1em;')
    button(class='btn btn-primary pull-right'
    data-toggle='collapse'
    data-target='#project-add-form'
    id='project-add-button') 增加
