div(class='tab-pane active' id='user-pane')
  each user in users
    div(class='panel panel-default')
      div(class='panel-heading')
        h4(class='panel-title')
          a(data-toggle='collapse' data-parent='#user-accordion' href='#' + user._id)= user.username
          a(class='pull-right' data-toggle='collapse' data-parent='#user-accordion' href='#' + user._id + '-modify') 修改
          a(class='pull-right user-delete-button' href='#' data-id=user._id data-username=user.username) 删除
      div(id=user._id class='panel-collapse collapse out')
        div(class='panel-body')
          p= user.username
          p= user.profile.name
          each project in user.projects
            p= project
      div(id=user._id + '-modify' class='panel-collapse collapse out')
        div(class='panel-body')
          form(class='form-horizontal user-modify-form' method='post' data-id=user._id)
            div(class='form-group')
              div(class='col-sm-3')
                div(class='input-group')
                  span(class='input-group-addon') 用户名
                  input(name='username' class='form-control' value=user.username)
              div(class='col-sm-3')
                div(class='input-group')
                  span(class='input-group-addon') 密码
                  input(name='password' class='form-control' type='password')
              div(class='col-sm-3')
                div(class='input-group')
                  span(class='input-group-addon') 姓名
                  input(name='name' class='form-control' value=user.profile.name)
            div(class='form-group')
              div(class='col-sm-12')
                div(class='btn-group' data-toggle='buttons')
                  each project in projects
                    - var isIn = user.projects.indexOf(project._id) != -1
                    label(class='btn btn-default ' + (isIn ? 'active' : ''))
                      input(name='project' type='checkbox' value=project.id checked=isIn)
                      | #{project.company+project.name}
            div(class='form-group')
              div(class='col-sm-offset-10 col-sm-2')
                button(class='btn btn-default') 保存修改
  div(class='collapse' id='user-add-form')
    form(class='form-horizontal' method='post' action='/user')
      div(class='form-group')
        div(class='col-sm-3')
          div(class='input-group')
            span(class='input-group-addon') 用户名
            input(name='username' class='form-control')
        div(class='col-sm-3')
          div(class='input-group')
            span(class='input-group-addon') 密码
            input(name='password' class='form-control' type='password')
        div(class='col-sm-3')
          div(class='input-group')
            span(class='input-group-addon') 姓名
            input(name='name' class='form-control')
      div(class='form-group')
        div(class='col-sm-12')
          div(class='btn-group' data-toggle='buttons')
            each project in projects
              label(class='btn btn-default')
                input(name='project' type='checkbox' value=project.id)
                | #{project.name}
      div(class='form-group')
        div(class='col-sm-offset-10 col-sm-2')
          button(class='btn btn-primary pull-right') 确认增加
  div(style='margin-bottom: 1em;')
    button(class='btn btn-primary pull-right'
    data-toggle='collapse'
    data-target='#user-add-form'
    id='user-add-button') 增加
