extends ../layout

block content

  h2 #{currentProject.name} 查看

  form(action='../order' method='post' id='order-create-form')
    // 这里放隐藏提交的物料数据
    div(class='hidden-content' hidden=true)
    input(hidden=true name='fromProject' value=currentProject.name)
    div(class='form-inline')
      div(class='form-group')
        label(class='control-label') 承租单位
        // TODO 承租单位实现下拉菜单选择，可以输入拼音或者五笔来筛选
        input(type='text', class='form-control', id='tenant', name='tenant', list='tenants', autocomplete='off')
        datalist(id='tenants')
          each val in tenants
            option= val
      div(class='form-group')
        label(class='control-label') 工程项目
        // TODO 工程项目实现下拉菜单选择，可以输入拼音或者五笔来筛选
        input(type='text', class='form-control', id='project', name='toProject', list='projects', autocomplete='off')
        datalist(id='projects')
          each val in projects
            option= val
      div(class='form-group')
        label(class='control-label') 日期
        input(type='date', class='form-control', id='date', name='date')
      div(class='form-group')
        label(class='control-label') 备注
        input(type='text' class='form-control' id='comments' name='comments')

  div(id='details-wrapper')
    table(id='details', cellspacing='0')

  form(class='form-inline' id='add-form')
    // TODO 下面这些选项的数据，均由数据库提供，浏览器通过ajax请求缓存到storage中
    div(class='form-group')
      label(class='control-label') 类型
      input(type='text', class='form-control', name='type', autocomplete='off' value='租赁品', list='type-list')
      datalist(id='type-list')
        option 租赁品
        option 消耗品

    div(class='form-group')
      label(class='control-label') 名称
      input(type='text', class='form-control', name='name', autocomplete='off' list='name-list' id='name')
      datalist(id='name-list')
        option 钢管
        option 扣件
        option 轮扣
        option 套筒

    div(class='form-group')
      label(class='control-label') 规格
      input(type='text', class='form-control', name='size', autocomplete='off' list='size-list' id='size')
      datalist(id='size-list')

    div(class='form-group')
      label(class='control-label') 数量
      input(type='text', class='form-control', name='count', autocomplete='off')

    button(id='add', class='btn btn-primary') 添加

  button(class='btn btn-default btn-block' id='order-create-button') 创建
