extends ../layout

block content
  ol(class='breadcrumb hidden-print')
    li
      a(href='/') 主页
    li
      a(href='../../')= current.name + '项目'
    li
      if direction == 'in'
        a(href='../') 调入列表
      if direction == 'out'
        a(href='../') 调出列表
    if direction == 'in'
      li(class='active') 调入单
    if direction == 'out'
      li(class='active') 调出单

  .hidden-print
    if info
      div(class='alert alert-info')= info
    if error
      div(class='alert alert-danger')= error

  .btn-group.hidden-print
    a(class='btn btn-primary' href='edit') 编辑
    button(class='btn btn-default' onclick='print()') 打印
    if direction == 'out'
      a(class='btn btn-default' href='transport') 运输单
    if direction == 'in' && transferOrder.status != '已确认'
      a(class='btn btn-default' href='check') 审核确认

  h3(class='text-center') 上海创兴建筑设备租赁有限公司
  if direction == 'in'
    h3(class='text-center') 收料单
  if direction == 'out'
    h3(class='text-center') 发料单

  table(class='table table-clean')
    tbody
      tr
        td
        td
        if transferOrder.originalOrder
          td.text-right 单号：
          td.text-center= transferOrder.originalOrder
        else
          td.text-right 单号：
          td.text-center= transferOrder._id
      tr
        td 承租单位：
        if (direction == 'in')
          td= projects[transferOrder.fromProject].company
        if (direction == 'out')
          td= projects[transferOrder.toProject].company
        td.text-right 日期：
        td.text-center= moment(transferOrder.date).format('YYYY-MM-DD')
      tr
        td 工程项目：
        if (direction == 'in')
          td= projects[transferOrder.fromProject].name
        if (direction == 'out')
          td= projects[transferOrder.toProject].name
        td.text-right 车号：
        td.text-center= transferOrder.carNumber

  div(class='row')
    div(class='col-xs-6')
      table(class='table')
        thead
          tr
            th.text-right 名称
            th.text-right 规格
            th.text-right 数量
        tbody
          - var n = 0;
          while n < columnLength
            tr(class=printEntries[n].size == '小计' ? 'row-sum' : '')
              td.text-right= printEntries[n].name
              td.text-right= printEntries[n].size
              td.text-right= printEntries[n].count
            - n++;
          tr
            td(colspan=3 style='height: 10em;')
              if direction == 'out'
                span 说明：如供需双方未签正式合同，本发料单经供需双方代表签字确认后，将作为合同
                span 及发生业务往来的有效凭证，如已签合同，则成为该合同的组成部分。租用方须核对
                span 以上产品规格、数量确认后可签字认可。
              if direction == 'in'
                span 说明：如供需双方未签正式合同，本归料单经供需双方代表签字确认后，将作为合同
                span 及发生业务往来的有效凭证，如已签合同，则成为该合同的组成部分。租用方须核对
                span 以上产品规格、数量确认后可签字认可。
                span 说明：
          tr
            td
            td
            td
    div(class='col-xs-6')
      table(class='table')
        thead
          tr
            th.text-right 名称
            th.text-right 规格
            th.text-right 数量
        tbody
          - var n = columnLength;
          while n < printEntries.length
            tr(class=printEntries[n].size == '小计' ? 'row-sum' : '')
              td.text-right= printEntries[n].name
              td.text-right= printEntries[n].size
              td.text-right= printEntries[n].count
            - n++;
          while n < columnLength * 2
            tr
              td &nbsp;
              td
              td
            - n++;
          tr
            td(colspan=3 style='height: 10em;') 备注
          tr
            td
            td
            td

  div(class='row')
    div(class='col-xs-4')
      p 出租单位（签名）：
    div(class='col-xs-offset-4 col-xs-4')
      p 租借单位（签名）：
