extends ../layout

block content
  ol(class='breadcrumb')
    li
      a(href='/') 主页
    li
      a(href='../')= current.name + '项目'
    if direction == 'out'
      li(class='active') 调出列表
    if direction == 'in'
      li(class='active') 调入列表
  if direction == 'out'
    a(class='btn btn-default' href='create' style='margin-bottom: 1em;') 调出
  if direction == 'in'
    a(class='btn btn-default' href='create' style='margin-bottom: 1em;') 调入
  div(class='panel panel-default')
    div(class='panel-heading')
      if direction == 'out'
        h3(class='panel-title') 调出单
      if direction == 'in'
        h3(class='panel-title') 调入单
    div(class='list-group')
      each order in transferOrders
        a(class='list-group-item' href=order.id + '/')
          if direction == 'in'
            span= projects[order.fromProject].name + ' '
            each entry in order.entries
              span= entry.name + ' '
            span(class='pull-right')= order.status
          if direction == 'out'
            span= projects[order.toProject].name + ' '
            each entry in order.entries
              span= entry.name + ' '
            span(class='pull-right')= order.status
