extends ../layout

block content
  ol(class='breadcrumb')
    li
      a(href='/') 主页
    li
      a(href='../../')= current.name + '项目'
    li
      a(href='../') 采购列表
    li(class='active') 采购单

  a(class='btn btn-primary' style='margin-bottom: 1em;' href='edit') 编辑
  p= projects[purchaseOrder.project].name
  p= purchaseOrder.vendor
  p= purchaseOrder.originalOrder
  p= purchaseOrder.comments
  p= purchaseOrder.status
  p= purchaseOrder.date
  p= purchaseOrder.username

  table(class='table')
    thead
      tr
        th 名称
        th 规格
        th 数量
        th 单价
        th 小计
    tbody
      each entry in purchaseOrder.entries
        tr
          td= entry.name
          td= entry.size
          td= entry.count
          td= entry.price
          td= entry.price * entry.count
